<div>
    <div>
        <h1><%= t('.heading') %></h1>
		<p><%= t('.directive') %> <%= link_to(t('here'), 'http://www.froomerce.com/merchant/merchantplatform/fconnect', :target => '_blank') %> <%= t('.resume_directive')%> </p>
    </div>
    <fieldset>
    <div>
        <h2><%= t('.user_info') %></h2>
        <div style="float:right;margin-top:-28px;">
            <%=t('having_problem') %><a href="mailto:support@froomerce.com"><%=t('here') %></a>
        </div>
    </div>
    <center>
        <div>
            <ul>
                <%= form_for :froomerce_user, :url => {:action => :create} do |f| %>
                <p>
                    <%= f.label :email, t('.user') %>
                    <%= f.email_field :email, :style => "margin-left:25px", :size => 60 %>
                    <br/>
                    <%= f.label :password, t('.password') %>
                    <%= f.password_field :password, :size => 60 %>
                    <br/>
                </p>
                <div>
                    <button type="reset">
                        <span><%= t('reset') %></span>
                    </button>
                    <button type="submit">
                        <span><%= t('auth') %></span>
                    </button>
                </div>
                <% end %>
            </ul>
            <div>
            </div>
        </div>
    </center>
</div>
</fieldset>
